body {
  background-color: #504d4d9a;
}
.contatoinfo{
  margin-right: auto;
  margin-left: auto;
  bottom: 250px;
  max-width: 300px;
  background-color: #fff;
  border-radius: 15px 15px 15px 15px;
  -webkit-box-shadow: 3px 3px 5px 2px #d1d1d1;
  box-shadow: 3px 3px 5px 2px #d1d1d1;
  padding: 10px;
  top: 150px;
}
.infoBox div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.infoBox div span{
    min-width: 40px;
    height: 40px;
    justify-content: center;
    justify-items: center;
    margin-left: 15px;   
}
.infoBox div p{
    font-size: 1.1em;
}
.infoBox div a{
    color: rgb(5, 5, 5);
    text-decoration: none;
    font-size: 1.1em;
}
.redes-socias {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .logo-face {
    width: 25px;
    background-color: #f07d00;
    border-radius: 50px;
    margin-top: 10px;
  }
  .logo-insta {
    width: 25px;
    background-color: #f07d00;
    border-radius: 50px;
    margin-top: 10px;
  }
  .logo-site {
    width: 25px;
    background-color: #f07d00;
    border-radius: 50px;
    margin-top: 10px;
  }
